<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="odore" content="release-probe" nextstep="index.html" />
    <title>Anthony</title>
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact last-page">

        <div class="logo">
            <img src="img/Anthony-logo.png" alt="logo" />
        </div>

        <div class="text">
            <h2>
                Thank you, your sample
                <br>
                trio is on the way!
            </h2>

            <a href="https://www.tataharperskincare.com/" class="link-green" target="_blank">Go back to
                TataHarper.com</a>
        </div>
    </main>
</body>

</html>