<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="odore" content="release-probe" nextstep="index.html" />
    <title>Anthony</title>
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact last-page">

        <div class="logo">
            <img src="img/Anthony-logo@3x.png" alt="logo" />
        </div>

        <div class="black-text-block">
            <p>
                Thank you. Your samples
                <br>
                are on the way
            </p>
        </div>

        <div class="img-block">
            <img src="./img/last-img.jpeg" alt="Glycoli Wipes">
        </div>
    </main>
</body>

</html>