<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Anthony</title>
    <link rel="stylesheet" href="css/style.min.css" />
    <link href="css/datepicker.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main class="main-contact">

        <div class="logo">
            <img src="img/Anthony-logo@3x.png" alt="logo" />
        </div>

        <div class="devider"></div>

        <form action="last.html" method="get" class="container user-form">

            <div class="input-gray_bg">
                <input name="first_name" type="text" placeholder="First Name">
            </div>

            <div class="input-gray_bg">
                <input name="last_name" type="text" placeholder="Last Name">
            </div>

            <div class="input-gray_bg">
                <input name="email" type="email" id="email" placeholder="Email">
            </div>

            <div class="input-gray_bg">
                <input name="address" type="text" placeholder="Street Address">
            </div>

            <div class="input-gray_bg">
                <input name="city" type="text" placeholder="City">
            </div>

            <div class="form-row two-column">
                <div class="input-gray_bg">
                    <input name="state" type="text" placeholder="State">
                </div>

                <div class="input-gray_bg">
                    <input name="zip" type="text" placeholder="Zip Code">
                </div>
            </div>

            <div class="checkboxes">
                <div class="wrap-checkbox wrap-checkbox__left-check">
                    <p class="big">
                        Please confirm that you agree to our
                        <span class="terms terms-btn">terms of use</span>
                        and
                        <span class="terms">
                            <a href="https://anthony.com/privacy-policy/" target="_blank">
                                privacy policy
                            </a>
                        </span>
                        by checking this box
                    </p>

                    <div class="wrap-checkbox">
                        <input type="checkbox" name="checkbox" class="checkbox" id="terms" />
                        <label for="terms"></label>
                    </div>
                </div>

                <div class="wrap-checkbox wrap-checkbox__left-check">
                    <p class="big">
                        Please confirm that you agree to receive marketing material from Anthony offers, news, and
                        events by email&#xA;&#xA;
                    </p>

                    <div class="wrap-checkbox">
                        <input type="checkbox" name="news" class="checkbox" id="news" />
                        <label for="news"></label>
                    </div>
                </div>
            </div>

            <div class="btns">
                <label class="btn btn--black btn--md disabled" id="customer_form_label">
                    <input type="submit" id="customer_form_submit" readonly />
                    get your samples
                </label>
            </div>

        </form>

        <div class="modal-wrap" id="modal-terms">
            <div class="modal">
                <button class="ui-close-modal"></button>
                <div class="modal__header">
                    Terms of use
                </div>
                <div class="modal__body">
                    <p>
                        Here at Odore Limited, we take your privacy and the security of your information very seriously.
                        We will only use your personal information as set out in our Privacy Policy and as necessary to
                        enable us to provide you with the services and products you have requested from us, or to
                        contact you with details of information which we may think may be relevant or of interest to you
                        in respect of the services and products we provide, or about new services or products which we
                        think you might like to know about.
                    </p>
                    <p>
                        The information you provide is intended for the authorized personal of Anthony, which is the
                        processing controller. Your data is used to manage your Anthony experience, to send you
                        communications about Anthony offers, news and events. For more information about your personal
                        data and rights, please consult the Privacy Policy.
                    </p>
                </div>
                <!-- end body -->

            </div>
            <!-- end modal -->
        </div>

    </main>
    <script src="js/libs.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>

</html>