<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Anthony</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2">

    <form action="step_4.html" method="get" class="question">
      <input type="hidden" name="question" value="What is your skin type?" />

      <div class="logo">
        <img src="img/Anthony-logo.png" alt="logo" />
      </div>

      <div class="devider"></div>

      <h2>
        Question 2
      </h2>

      <div class="text text-center">

        <p>
          What is your skin type?
        </p>

      </div>

      <label class="btn btn--black">
        <input type="submit" name="answer-1" value="Dry" />
        Dry
      </label>

      <label class="btn btn--black">
        <input type="submit" name="answer-2" value="Oily" />
        Oily
      </label>

      <label class="btn btn--black">
        <input type="submit" name="answer-3" value="Normal" />
        Normal
      </label>

    </form>

  </main>
</body>

</html>