<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Anthony</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact">

    <form action="step_3.html" method="get" class="question">
      <input type="hidden" name="question" value="Are you" />

      <div class="logo">
        <img src="img/Anthony-logo@3x.png" alt="logo" />
      </div>

      <div class="devider"></div>

      <h2>
        Question 1
      </h2>

      <div class="text text-center">

        <p>
          Are you
        </p>

      </div>

      <label class="btn btn--black">
        <input type="submit" name="answer-1" value="Male" />
        Male
      </label>

      <label class="btn btn--black">
        <input type="submit" name="answer-2" value="Female" />
        Female
      </label>

      <label class="btn btn--black">
        <input type="submit" name="answer-3" value="Prefer not to say" />
        Prefer not to say
      </label>

    </form>

  </main>
</body>

</html>